/* ---RESET CSS--- */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* ---END RESET--- */


table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead,
tfoot {
    background-color: rgb(228 240 245);
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
  
tfoot th {
    text-align: right;
}
  
tfoot td {
    font-weight: bold;
}


/* Code goes Here */
/* .main-box {
    display: flex;
    justify-content: space-around;
}
 
form input {
    display: block;
}

input:invalid{
    border: 3px solid rebeccapurple;
} */


/* ---START MY CODE--- */
body {
    background-color: #F3F0EA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Londrina Sketch";
    font-weight: bold;
}

h2 {
    font-family: "Londrina Shadow";
}


/* ⁡⁢⁣⁣​‌‍‌--HEADER--​⁡ */
header {
    display: flex;
    width: 85%;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(164, 164, 164, 0.423);
}

.right-side {
    display: flex;
    margin-left: auto;
}

.right-side img {
    border-radius: 50%;
    width: 50px;
    margin-right: 1rem;
}

.right-side svg {
    width: 30px;
}


/* ​‌‍‌‍⁡⁢⁣⁣--END HEADER--​⁡​ */

/* ⁡⁢⁣⁣​‌‍‌--HERO--​⁡ */

main {
    width: 85%;
}

main article {
    display: flex;
    margin-bottom: 3rem;
}

article>h2 {
    font-size: 4rem;
    margin-right: auto;
    width: 35vw;
    margin-left: 3rem;
}

article>form {
    margin-right: 5rem;
}

form>fieldset {
    display: flex;
    flex-direction: column;
}

article>form input {
    width: 20vw;
    height: 4vh;
}

article>form button {
    width: 7rem;
    height: 1.7rem;
    background-color: wheat;
    border-radius: 4px;
    border: 2px solid rgb(131, 119, 98);
}

.checkbox-box {
    display: flex;
    align-items: center;
}

#switch {
    width: 15%;
}

button {
    cursor: pointer;
    align-self: flex-end;
}

/* ⁡⁢⁣⁣​‌‍‌--END HERO--​⁡ */

