/* ---RESET CSS--- */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, input[type="checkbox"] {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* ---END RESET--- */


table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead,
tfoot {
    background-color: rgb(228 240 245);
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
  
tfoot th {
    text-align: right;
}
  
tfoot td {
    font-weight: bold;
}


/* Code goes Here */
/* .main-box {
    display: flex;
    justify-content: space-around;
}
 
form input {
    display: block;
}

input:invalid{
    border: 3px solid rebeccapurple;
} */


/* ---START MY CODE--- */
body {
    background-color: #F3F0EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    font-family: "Rakkas", Roboto;
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-family: "DM Serif Text", Roboto;
}


/* ⁡⁢⁣⁣​‌‍‌--HEADER--​⁡ */
header {
    display: flex;
    width: 85%;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(164, 164, 164, 0.423);
}

.right-side {
    display: flex;
    margin-left: auto;
}

.right-side img {
    border-radius: 50%;
    width: auto;
    height: 60px;
    margin-right: 1rem;
}

.right-side svg {
    width: 30px;
}

/* ​‌‍‌‍⁡⁢⁣⁣--END HEADER--​⁡​ */


/* ⁡⁢⁣⁣​‌‍‌--HERO--​⁡ */

main {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

main article {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}

article>h2 {
    font-size: 3.5rem;
    margin-right: auto;
    width: 40vw;
    margin-left: 0rem;
    font-weight: 700;
}

article>form {
    margin-right: 4rem;
    margin-left: 4rem;
}

form>fieldset {
    display: flex;
    flex-direction: column;
}

article>form input {
    width: 20vw;
    height: 4vh;
}

article label {
    margin-top: 0.3rem;
}

article>form button {
    width: 7rem;
    height: 1.7rem;
    background-color: wheat;
    border-radius: 4px;
    border: 2px solid rgb(131, 119, 98);
}

.checkbox-box {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#switch {
    position: relative;
    left: -5px;
    width: 15%;
}

button {
    cursor: pointer;
    align-self: flex-end;
}

/* ⁡⁢⁣⁣​‌‍‌--END HERO--​⁡ */



/* ⁡⁢⁣⁣​‌‍‌--START SECTION--​⁡ */
section {
    background-color: #DAD2C6; 
    width: 90%;
    margin-top: 0rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 4.5rem 3.5rem 2rem 2rem;
}

.card-book {
    position: relative;
}

.card-book:nth-child(3n + 2) {
    top: -3rem;
}

.card-book img:not(img:nth-child(2)) {
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(98, 98, 98, 0.244);
    height: auto;
    width: 60%;
    position: relative;
}

.desc-book {
    position: absolute;
    top: 30%;
    left: 50%;

    background-color: #dfdfd1;
    width: 60%;
    padding: 8px;
    border-radius: 2px;

    box-shadow: 1px 5px 5px #7f7e7831;
}

.desc-book p {
    margin-bottom: 4px;
    border-bottom: 1px solid black;
}

.my-img img:nth-child(2) {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 35%;
    top: -5%;
    cursor: pointer;
    transition: 0.15s;
}

.my-img img:nth-child(2):hover {
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

/* ⁡⁣⁣⁢Checkbox Styling⁡ */
/* Customize the label (the container) */
.is-read {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 104, 10);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .is-read input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .is-read:hover input ~ .checkmark {
    background-color: #ccc;
    
  }
  
  /* When the checkbox is checked, add a blue background */
  .is-read input:checked ~ .checkmark {
    background-color: #e9ba00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .is-read input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .is-read .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* ⁡⁣⁣⁢End Checkbox Styling⁡ */

/* ⁡⁢⁣⁣​‌‍‌--END SECTION--​⁡ */


/* ⁡⁢⁣⁣​‌‍‌--DECORATION LINE--​⁡ */

.vl1 {
    border-left: 1px solid rgba(164, 164, 164, 0.423);
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 10%;
}

.vl2 {
    border-left: 1px solid rgba(164, 164, 164, 0.423);
    height: 100vh;
    position: absolute;
    top: 12.5%;
    z-index: -1;
    left: 50%;
}

.vl3 {
    border-left: 1px solid rgba(164, 164, 164, 0.423);
    height: 100vh;
    position: absolute;
    top: 55%;
    z-index: -1;
    right: 10%;
}

.vl4 {
    border-bottom: 1px solid rgba(164, 164, 164, 0.423);
    width: 100vw;
    position: absolute;
    top: 65%;
    left: 6%;
    z-index: -1;
}

/* ⁡⁢⁣⁣​‌‍‌--END DECORATION LINE--​⁡ */